<h1>My Lists</h1>

<%# Place all stream subscriptions at the top of the page %>
<%#= turbo_stream_from "lists" %>
<%# @lists.each do |list| %>
  <%#= turbo_stream_from list %>
<%# end %>

<div class="lists-container">
  <% @lists.each do |list| %>
    <div class="list" id="list_<%= list.id %>">
      <h3><%= list.name %></h3>
      <div id="list_<%= list.id %>_tasks" 
           data-controller="sortable"
           data-sortable-list-id-value="<%= list.id %>">
        <%= render "lists/tasks", list: list %>
      </div>
    </div>
  <% end %>
</div>