<%= turbo_frame_tag dom_id(task) do %>
  <div class="task-card">
    <h2><%= task.title %></h2>
    
    <p><%= task.description %></p>
    
    <p> State:
      <%= task.completed ? "✔️" : "❌" %>
    </p>
    
    <p><strong>Categories:</strong> <%= task&.categories&.map(&:name)&.join(", ") %></p>

    <div class="task-actions">
      <%= link_to "Edit", edit_task_path(task), data: { turbo_frame: dom_id(task) } %>
    </div>
  </div>
<% end %>