<div id="<%= dom_id task %>" class="task-card">
  <h4>
    <%= link_to task.title, edit_task_path(task) %>
  </h4>

    <p class="ps-3">
      <%= task.description %>
    </p>

  <p>
    Completed:
    <%= task.completed ? "✔️" : "❌" %>
  </p>

  <p><strong>Categories:</strong> <%= task.categories.map(&:name).join(", ") %></p>
</div>
