<div id="<%= dom_id task %>" class="task-card">
  <h2>
    <%= link_to task.title, edit_task_path(task) %>
  </h2>

  <p>
    <%= task.description %>
  </p>

  <p>
    Completed:
    <%= task.completed ? "✔️" : "❌" %>
  </p>

  <p><strong>Categories:</strong> <%= task&.categories&.map(&:name)&.join(", ") %></p>
</div>
