<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Tasks</h1>
<h3><%= link_to "New task", new_task_path %></h3>

<div id="tasks" data-controller="sortable">
  <% @tasks.each do |task| %>
    <div data-sortable-handle data-sortable-url="<%= task_path(task) %>/positions" id="task_<%= task.id %>">
      <%= render task, cached: true %>
    </div>
  <% end %>
</div>
